header
{
	width: 100%;
	position: absolute;
	a
	{
		padding: 5px 0px!important;
		@include a($mainFontSize*2.1, $mainFontWeight, $mainColor4, $mainColor4, $letterSpacing*2);
		span
		{
			color: $mainColor;
			border-radius: 100%;
		}
	}
	
	nav
	{
		ul
		{
			li
			{
				a
				{
					padding: 35px 0px!important;
					@include a($mainFontSize*1.1, $mainFontWeight, $mainColor4, $mainColor, $letterSpacing*2);
				}
			}
		}
	}
}